body {
    background-color: #262626;
    font-family: 'Segoe UI',Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 320px;
}

.functionality{
    width: 82%;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 5px;
}

.functionality button {
    width: 40px;
    font-size: 8px;
    text-transform: uppercase;
    border:none;
    border-radius: 10px;
    cursor: pointer;
    outline: none;

}

.option-button {
    background-color: #ccc;
    color: rgb(51, 51, 51);
}

.start-active {
    background-color: rgb(49, 230, 64);
    color: rgb(233, 233, 233);
}

.strict-active {
    background-color: rgb(255, 187, 0);
    color: rgb(233, 233, 233);
}

.onOff-active {
    background-color: rgb(230, 49, 49);
    color: rgb(233, 233, 233);
}



#counter {
    width: 90px;
    height: 27px;
    border: none;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color:rgb(31, 31, 31);
    font-size: 15px;
    padding-left: 0.8em;
    resize: none;
}

#logo {
    color: #ccc;
    font-weight: 100;
    font-size: 30px;
    padding: 0;
    margin: 0;
    margin-top: 20px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
    height: 233px;
    width: 82%;
    margin-top: 10px;
}


.game-buttons {
    outline: none;
    border: none;
    cursor: pointer;
}

.top-left {
    background-color: #D54733;
    border-top-left-radius: 10px;
}

.top-right {
    background-color: #ECC417;
    border-top-right-radius: 10px;
}

.bottom-left {
    background-color: #3AA84B;
    border-bottom-left-radius: 10px;
}

.bottom-right {
    background-color: #0E5D9E;
    border-bottom-right-radius: 10px;
}


#counter::-webkit-scrollbar {
    width: 1em;
}

#counter::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
}

#counter::-webkit-scrollbar-thumb {
    background-color: rgba(255, 0, 0, 0);
    outline: 1px solid rgba(112, 128, 144, 0);
}
